@use "./variables" as *;
@use "./helpers" as *;
@use "./globals";

body {
  background-color: $LightGray;
  display: flex;
  align-items: center;
  justify-content: center;
  @include smallScreens {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

main {
  width: 600px;
  display: grid;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  grid-template-columns: 1fr 1fr;

  grid-template-areas:
    "top top"
    "left right";

  @include smallScreens {
    grid-template-columns: 320px;

    width: fit-content;

    grid-template-areas:
      "top"
      "left"
      "right";
  }

  .top {
    grid-area: top;
    padding: 40px 30px;

    border-top-left-radius: 7px;
    border-top-right-radius: 7px;

    background-color: #ffffff;

    .header {
      font-size: 23px;
      color: $Cyan;
      font-weight: bold;
    }

    p:nth-of-type(1) {
      color: $BrightYellow;
      font-weight: bold;
      margin-top: 18px;
      margin-bottom: 10px;
    }
    p:nth-of-type(2) {
      color: $GrayishBlue;
      font-size: 15px;
      max-width: 500px;
      line-height: 1.5;
    }
  }

  .left {
    grid-area: left;
    padding: 40px 35px;
    color: white;
    border-bottom-left-radius: 7px;
    background-color: $Cyan;

    @include smallScreens {
      border-bottom-left-radius: 0;
    }
    .header {
      font-size: 16px;
      letter-spacing: 0.5px;
      color: rgba($color: white, $alpha: 0.9);
      margin-bottom: 20px;
    }

    .price {
      display: flex;
      align-items: center;

      .number {
        font-size: 30px;
        font-weight: 700;
        margin-right: 10px;
      }

      .per {
        color: rgba($color: white, $alpha: 0.5);
      }
    }

    .desc {
      font-size: 15px;
      color: rgba($color: white, $alpha: 0.8);
      margin-top: 8px;
      margin-bottom: 30px;
      font-weight: 400;
    }

    .sign-up {
      background-color: $BrightYellow;
      text-align: center;
      padding: 13px 0;
      font-size: 15px;
      border-radius: 5px;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
      cursor: pointer;
    }
  }

  .right {
    grid-area: right;
    border-bottom-right-radius: 7px;
    padding: 35px 40px;
    background-color: rgba($Cyan, 0.8);

    @include smallScreens {
      border-bottom-left-radius: 7px;
    }

    .question {
      color: white;
      font-weight: 400;
      font-size: 17px;
      margin-bottom: 20px;
    }

    .answer {
      max-width: 200px;
      font-size: 14px;
      line-height: 1.5;
      color: rgba($color: white, $alpha: 0.6);
    }
  }
}
