@use "./variables" as *;
@use "./globals";
@use "./placeholders";
@use "./helpers" as *;

body {
  background-color: $VeryDarkBlue;
  @extend %center-content;
  overflow: hidden;

  @include smallScreens {
    margin: 20px 0;
  }

  .background {
    position: absolute;

    width: 100%;
    height: 50%;

    left: 0;
    bottom: 0;

    background-image: url("./images/bg-desktop.png");
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;

    @include smallScreens {
      background-image: url("./images/bg-mobile.png");
      height: 100%;
    }
  }
}

main {
  width: 100%;
  display: flex;
  align-items: end;
  justify-content: center;
  gap: 30px;

  @include smallScreens {
    flex-direction: column;
    align-items: center;

    gap: 20px;
  }

  nav {
    display: flex;
    justify-content: center;
    background-color: $DarkBlue;
    flex-direction: column;
    padding: 30px 130px 30px 30px;
    border-radius: 10px;
    border-top-right-radius: 88px;

    .logo {
      margin: 0;
      width: 120px;
      text-align: start;
    }

    .icons {
      margin-top: 30px;
      display: flex;
      align-items: center;

      img {
        width: 40px;
        height: 40px;

        border-radius: 8px;

        padding: 10px;
        margin-right: 10px;

        background-color: $VeryDarkBlue;
      }
    }
  }

  .details {
    background-color: $DarkBlue;
    padding: 30px;
    padding-right: 30px;
    border-radius: 10px;
    position: relative;

    .text {
      margin-bottom: 15px;
      color: rgba($PaleBlue, 0.7);
      font-weight: 400;
      display: flex;
      font-size: 14px;

      .numbers {
        font-weight: 700;
        color: rgba($PaleBlue, 1);
      }
    }

    .absolute {
      position: absolute;
      right: 50px;
      top: -50px;
      background-color: white;
      padding: 10px 20px;
      border-radius: 10px;
      font-size: 12px;
      font-weight: 700;
      display: flex;
      align-items: center;

      @include smallScreens {
        top: unset;
        bottom: -50px;
        right: unset;
        left: 50%;
        transform: translateX(-50%);
      }

      &::before {
        content: "";

        position: absolute;
        right: 0;
        bottom: -15px;

        border-right: 40px solid white;
        border-bottom: 40px solid transparent;

        @include smallScreens {
          display: none;
        }
      }

      .number {
        margin-right: 10px;
        span {
          font-size: 40px;
          color: black;
        }
      }

      span {
        color: $GrayishBlue;
      }
    }

    .graph {
      width: 400px;

      @include smallScreens {
        width: 250px;
      }

      .bar {
        width: 100%;
        height: 12px;
        border-radius: 6.5px;

        background-color: rgba($VeryDarkBlue, 0.6);

        .thub {
          border-radius: 6.5px;
          width: 75%;
          height: 100%;
          background-image: linear-gradient(to right, $Gradient);
          position: relative;

          &::before {
            content: "";
            position: absolute;
            width: 10px;
            height: 10px;

            border-radius: 50%;
            background-color: white;
            left: 96%;
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }

      .start-end {
        margin-top: 10px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
        font-size: 13px;
        font-weight: 400;
      }
    }
  }
}
